@import "fonts"
@import "libs"
@import "vars"
//@import "loader"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	margin: 0

ul, li 
	list-style-type: none
	padding: 0
	margin: 0

.container-flex	
	max-width: 1140px
	margin: 0 auto
	width: 100%
	height: 100%
	display: flex
	flex-direction: column


.header, .display
	position: relative
	background-image: url(../img/01.jpg)
	background-position: top center
	background-size: cover
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	min-height: 650px
	height: 100vh

.header-top
	display: flex
	justify-content: space-between
	height: 80px
	align-items: center

.logo
	display: flex
	align-items: center


nav
	display: flex
	align-items: center
	.menu
		display: flex
		justify-content: center
		.menu__item
			margin: 0 20px

.header-center
	display: flex
	flex-direction: column
	align-items: center
	margin: auto
	
.products
	margin-bottom: 50px

.products__head
	display: flex
	flex-direction: column
	align-items: center
	max-width: 60%
	margin: 40px auto
	text-align: center


.products-cards
	display: flex 

.products__card
	display: flex
	flex-direction: column 
	justify-content: space-between
	margin-right: 20px
	margin-bottom: 30px
	img 
		max-width: 100%

.image
	display: flex
	justify-content: space-between
	img 
		flex-grow: 1
		margin-right: 8px
		&:last-child
			margin-right: 0


.card
	display: flex
	background-color: #fafafa
	padding: 70px 0

.grid
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex: 0 0 30%
	.grid__item
		display: flex
		flex-direction: column
		padding: 40px
		background-color: #fff
		margin-right: 3px
		margin-bottom: 3px
		flex: 0 0 calc(26% - 6px)
		&.active
			background-color: #17bed2
			color: #fff


.display
	background-image: url(../img/02.jpg)
	max-height: 300px
	min-height: auto

.flex-center
	display: flex
	flex-direction: column
	margin: auto
	text-align: center


.gallery
	padding: 60px 0

.grid-img
	display: flex
	flex-wrap: wrap
	img 
		margin-right: 10px
		margin-bottom: 10px
		width: 32%
		&:nth-child(0)
			flex-grow: 3

@import "media" // Всегда в конце
