@import "fonts"
@import "libs"
@import "vars"
//@import "loader"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.menu
	display: flex
	width: 100%
	min-height: 100px
	align-items: center
	justify-content: center
	background-color: #000
	color: #fff
	margin-bottom: 20px

.grid
	max-width: 900px
	width: 100%
	margin: 0 auto
	display: flex
	flex-wrap: wrap
	justify-content: center
	min-height: 300px

.grid__item
	display: flex
	min-heigh: 200px
	flex: 1 1 calc(33%)
	background-color: #000
	color: #fff
	margin: 0 20px 20px 0
	justify-content: center
	align-items: center


@import "media" // Всегда в конце
